Debug/
Hardware/QuadEnv_Components-backups/
Hardware_STM32C031/QuadEnv_Components-backups/
Hardware_STM32G431/QuadEnv_Components-backups/
Hardware_STM32G431/QuadEnv_Controls-backups/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Hardware/#auto_saved_files#
Hardware/_autosave-QuadEnv_Components.kicad_sch



